[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=SolView
Comment=System information viewer
Exec=solview
Icon=solview
Terminal=false
Type=Application
Categories=System;Utility;
